.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1116px;
  padding-left:10px;
  padding-right:0px;
  margin-left:0px;
  margin: 0 auto;
}
img.lazy-loaded {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.header {
  background-color: #283e4a;
  padding: 0 12px; 
  width:100%;
}
.main .reg-form .title {
  font-size: 1.8rem;
  line-height: 1.33333;
  font-weight: 150;
  color: rgba(0,0,0,0.9);
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  background: #F6F8FA;
  text-align: center;
  padding: 16px 32px 8px 32px;
}
.main .reg-form .subtitle {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0,0,0,0.9);
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  position: relative;
  z-index: 1;
  background: #F6F8FA;
  text-align: center;
  padding: 0 8px 16px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}
.main .reg-alert.hidden>div>button {
  -webkit-transform: translateY(-77px);
  transform: translateY(-77px);
  transition-property: transform,-webkit-transform;
  -webkit-transition-duration: .75s;
  transition-duration: .75s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.main .reg-alert .dismiss-alert {
  display: none;
}
.main .reg-alert>div>button {
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  font-weight: 600;
  font-family: inherit;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  transition-property: transform,-webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  z-index: 0;
  border-radius: 12px;
  text-indent: -999px;
  width: 24px;
  right: 0;
  top: 10px;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: .033s;
  transition-delay: .033s;
}
.main .reg-form .form-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 0 24px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.main .reg-form label:first-of-type {
  margin-top: 16px;
}
.main .reg-form label {
  margin: 8px 0 4px;
}
.main .reg-form label, .main .reg-form input {
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0,0,0,0.9);
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  min-width: 0;
}
.main .reg-form input[type="text"], .main .reg-form input[type="password"] {
  padding: 0 8px;
}
.main .reg-form input {
  height: 32px;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.15);
}
.main .reg-form label, .main .reg-form input {
  font-size: 1.2rem;
  line-height: 1.22857;
  font-weight: 300;
  color: rgba(0,0,0,0.9);
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  min-width: 0;
}
.main .reg-form input[type="submit"] {
  background-color: #0073b1;
  border: 0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 167ms;
  transition-duration: 167ms;
  -webkit-transition-property: background-color,color,-webkit-box-shadow;
  transition-property: background-color,color,-webkit-box-shadow;
  transition-property: background-color,box-shadow,color;
  transition-property: background-color,box-shadow,color,-webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  z-index: 0;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255,255,255,0.85);
  color: white;
  font-weight: 500;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 0px;
  margin-left: 0px;
  width:100%;
}
.main .reg-form .agreement {
  font-size: 1.2rem;
  line-height: 1.33333;
  font-weight: 400;
  color: rgba(0,0,0,0.6);
  text-align: center;
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.main .reg-alert>div>p {
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 800;
  color: rgba(255,255,255,0.85);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 2px 36px 0 36px;
  overflow: hidden;
  position: relative;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition-property: transform,-webkit-transform;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-delay: .033s;
  transition-delay: .033s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.main .reg-alert>div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1128px;
  overflow: hidden;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  width: 100%;
}
.main .reg-alert .message {
  margin-right: 0;
}
.main .reg-alert {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 24px;
  overflow: hidden;
  padding: 0 15px;
  position: relative;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 0;
}
.main .reg-alert {
  margin-top: 0;
  z-index: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.main .reg-form {
  width: 460px;
  height:650px;
  padding: 0 0 24px;
  margin: 0 auto;
  border-radius: 2px;
  background: #EDF0F3;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  min-width: 1128px;
  padding: 24px 12px;
}
.main.background.lazy-loaded {
  background: #333 url(backgroungsignup.jpg) repeat top center;
  background-size: cover;
}
.global-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  margin-left: 0px;
  background: #283e4a;
}
.header .wrapper h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
h1, .large-header {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 400;
  color: rgba(0,0,0,0.9);
}
.login-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}.login-form label {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.login-form input {
  font-size: 1.2rem;
  line-height: 1.33333;
  font-weight: 400;
  color: rgba(0,0,0,0.9);
  display: inline-block;
  width: 216px;
  height: 32px;
  margin: 10px 8px 10px 0;
  padding: 0 10px;
  background:white;
  border: 1px solid #b3b6b9;
  border-radius: 2px;
}
.login-form input[type="submit"] {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #fff;
  font-weight: 300;
  display: inline-block;
  width: auto;
  height: 32px;
  margin: 10px 0 0;
  padding: 0 20px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
}
.login-form .link-forgot-password {
  font-size: 1.2rem;
  line-height: 1.33333;
  font-weight: 400;
  color: rgba(0,0,0,0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #cdcfd2;
  margin: 0 10px 0 20px;
}
a:visited {
  color: #665ed0;
}
a:visited {
  color: #0073b1;
}
a.visited, a:visited {
  color: #96999c;
}
.login-email
{
  background:white;
}
a {
  text-decoration: none;
  font-weight: 600;
  background-color: transparent;
  border: 0;
  color: #0073b1;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a {
  color: #006fa6;
  text-decoration: none;
}