.connection {
  background: white;
  margin-left: 65vw;
  border: 1px gray solid;
  height: auto;
  width: 50vw;
}
.message {
  border: 2px solid #0073b1;
  color: #0073b1;
  width: 6vw;
  text-align: center;
  height: 2.5vw;
}

.acceptRejectConnection {
  background: white;
  margin-left: 65vw;
  border: 1px gray solid;
  height: auto;
  width: 50vw;
}

.connectionData .row {
  width: 50vw;
  margin-left: 0vw;
  height: 8vw;
  background: white;
}
