.sidebar_dashboard {
  width: 25vw;
  position: fixed;
  margin: 10vw 0 0 2vw;
  float: left;
}

.active_link {
  color: #0067db;
}

.displayCharts {
  float: right;
  margin: 7vw 6vw 0 0;
  width: 70vw;
  height: auto;
}
